body{
	background-color:#eee;
}
.font-monospace{
	font-family:Monospace;
}
.bg-laranja-escuro{
	background-color:darkorange;
}
.border-semitransparente-25{
	border-color:rgba(0,0,0,25%)!important;
}
.miniatura {
	width: 100%;
	height: 200px;
	overflow: hidden;
	position:relative;
}
.miniatura-titulo{
	position:absolute; 
	width:80%; 
	left: 10%;
	top:3%;
	border-radius:10px;
}
.miniatura img{
	min-height: 100%;
	max-height: 110%;
	min-width:100%;
	max-width: 120%;
}
.parallax{
	background-size:cover;
	background-attachment:fixed;
}
.bg-semitransparente-50{
	background-color:rgba(0,0,0,50%);
}
.bg-semitransparente-70{
	background-color:rgba(0,0,0,70%);
}
.bg-pizza{
	background: rgba(107, 14, 25, 1);
}
.bg-verde{
	background-color:#196b0e;
}
.btn-ghost-verde{
	border:2px solid #196b0e;
}
.btn-ghost-laranjaescuro{
	border:2px solid darkorange;
}
.text-branco{
	color:#fff!important;
}
.text-branco:hover{
	color: rgba(255,255,255,0.5)!important;
}
.text-verde{
	color:#196b0e;
}
.text-amarelo{
	color:yellow;
}
.text-cinza{
	color:#989898;
}
.bg-pizza-img{
	background-image: url("pizzabg.jpg");
}
.bg-feliz-img{
	background-image: url('feliz.jpg');
}
.btn-pizza{
	background-color: darkorange;
	color: #fff;
	border:1px solid rgba(0,0,0,0.2);
}
.btn-pizza:hover{
	color: rgba(255,255,255,0.5);
}
.card-shadow{
	box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.75);
}
.section-shadow{
	box-shadow: 8px 8px 20px 0px rgba(0,0,0,0.75);
}
.bg-branco{
	background-color:#fff;
}
.bg-preto{
	background-color:#22262a;
}
.painel-nav-tabs .nav-item a.active{
	background: rgba(0,0,0,0.3)!important;
}
.painel-nav-tabs .nav-item a{
	color:#fff!important;
}
.dropdown-pizza .dropdown-menu a{
	color: rgba(255,255,255,0.5);
}
.dropdown-pizza .dropdown-menu{
	background-color:rgba(0,0,0,0.5);
	padding:0;
}
.dropdown-pizza .dropdown-menu a:active,
.dropdown-pizza .dropdown-menu a:focus,
.dropdown-pizza .dropdown-menu a:hover{
	color:#fff!important;
	background-color:rgba(0,0,0,0.3)!important;
}
.dropdown-pizza .dropdown-item.active{
	color:#fff!important;
	background-color:rgba(0,0,0,0.5)!important;
}
@media (max-width : 575px) {
	.painel-nav-tabs{
		border:none!important;
		padding-bottom:3%;
	}
	
	.card-responsivo{
		max-width:300px;
		margin:0 auto;
	}
}
@media (min-width: 576px) {

}

@media (min-width: 768px) {
	
}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {
	
}